h1, h2, h3, h4, p, th, td, label, input, span, li{
    font-family: ui-sans-serif, system-ui, sans-serif;
}

input {
    width: 100%; 
    padding: 8px 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px;
    box-sizing: border-box; 
}
